.expense-item{
    display: flex;
    justify-self: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.expense-item-desc{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;

}

.expense-item h2{
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: #10253b;
}

.expense-item-price{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #10253b;
    /* border: 1px solid white; */
    padding: 0.5rem;
    border-radius: 12px;
}

@media (min-width: 580px) {
    .expense-item-desc {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item-desc h2 {
      font-size: 1.25rem;
    }
  
    .expense-item-price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }