.newExpenseContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 1rem;
}

.newContainer label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.newContainer input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.newExpenseButton{
    text-align: right;

}