.newExpense{
    /* background-color: #a892ee; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    position: relative;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.newExpense button{
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #10253b;
    background-color: white;
    color: #10253b;
    border-radius: 12px;
    margin-right: 1rem;
}

.newExpense button:hover,
.newExpense button:active {
  background-color: #10253b;
  border-color: #10253b;
  color: white;
}

.newExpense button.alternative {
  color: white;
  border-color: transparent;
  background-color: transparent;
}

.newExpense button.alternative:hover,
.newExpense button.alternative:active {
  background-color: #ddb3f8;
}