*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: auto;
  background-color: #10253b;
  /* background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
  background-repeat: no-repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
