*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(-30deg, #54108b, #9e74ee, #ffafff, #dabdff);
  background-repeat: no-repeat;
  /* background-size: cover; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
