.box{
    position: relative;
}

.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: animate 7s linear infinite;
    animation-delay: calc(-1s *var(--i));
}

@keyframes animate{
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top: 13rem;
    right: 10.6rem;
    width: 7rem;
    height: 7rem;
}
.box .square:nth-child(2){
    top: 22rem;
    left: 9.6rem;
    width: 8rem;
    height: 8rem;
}
.box .square:nth-child(3){
    top: 1rem;
    left: 7rem;
    width: 4rem;
    height: 4rem;
}
.box .square:nth-child(4){
    top: 8rem;
    left: 3rem;
    width: 3rem;
    height: 3rem;
}
.box .square:nth-child(5){
    top: 2rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
}

.box .square:nth-child(6){
    top: 28rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
}